<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.sourceforge.plantuml.eclipse.diagramIntentProvider">
      <diagramIntentProvider
            id="com.altran.general.emf.ecoredoc.plantuml.ecore.EcoreDiagramIntentProvider"
            providerClass="com.altran.general.emf.ecoredoc.plantuml.ecore.EcoreDiagramIntentProvider">
      </diagramIntentProvider>
   </extension>

</plugin>
