<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated EPackage1 -->
      <package
            uri="EPackage1"
            class="EPackage1.EPackage1Package"
            genModel="testData/generator/basic/EPackage1.xcore"/>
   </extension>

</plugin>
