<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated EPackage2 -->
      <package
            uri="http://altran.com/general/emf/ecoredoc/test/epackage2/1.0.0"
            class="EPackage2.EPackage2Package"
            genModel="testData/generator/basic/EPackage2.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated EPackage1 -->
      <package
            uri="EPackage1"
            class="EPackage1.EPackage1Package"
            genModel="testData/generator/basic/EPackage1.xcore"/>
   </extension>

</plugin>
