<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/com.altran.general.emf.ecoredoc.standalone/src/main/java/com/altran/general/emf/ecoredoc/standalone/EcoreDocGenerator.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.altran.general.emf.ecoredoc.standalone.EcoreDocGenerator"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="com.altran.general.emf.ecoredoc.standalone"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-o ${project_loc:/com.altran.general.emf.ecoredoc.standalone}/it/testBasic/output.adoc&#13;&#10;${project_loc:/com.altran.general.emf.ecoredoc.standalone}/it/testBasic/EPackage2.ecore"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="com.altran.general.emf.ecoredoc.standalone"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
</launchConfiguration>
