<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated EcoreDocGeneratorConfig -->
      <package
            uri="com.altran.general.emf.ecoredoc.generator.config"
            class="com.altran.general.emf.ecoredoc.generator.config.ConfigPackage"
            genModel="model/EcoreDocGeneratorConfig.xcore"/>
   </extension>

</plugin>
