<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.commands">
		<command 
			id="com.altran.general.ecoredoc.generator.integration.ui.generateEcoreDoc"
			name="Generate documentation">
			
			
		</command>
	</extension>
	
	<extension point="org.eclipse.ui.menus">
		<menuContribution
        	locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
        	<command 
        		commandId="com.altran.general.ecoredoc.generator.integration.ui.generateEcoreDoc"
        	/>
		</menuContribution>
	</extension>
   
	<extension point="org.eclipse.ui.handlers">
		<handler 
			commandId="com.altran.general.ecoredoc.generator.integration.ui.generateEcoreDoc"
			class="com.altran.general.ecoredoc.generator.integration.ui.GenerateEcoreDocHandler">
			
		</handler>
	</extension>
</plugin>
